version: "3.9"

services:

  nginx:
    image: nginx:stable-alpine
    container_name: reddit-nginx
    ports:
      - "80:80"
    volumes:
      - ./app:/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
      - opensearch-dashboards
      - rabbitmq

  php:
    build: docker/php
    container_name: reddit-php
    working_dir: /app
    volumes:
      - ./app:/app
    environment:
      PHP_MEMORY_LIMIT: 512M
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - opensearch

  postgres:
    image: postgres:16-alpine
    container_name: reddit-postgres
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: reddit-redis
    volumes:
      - ./data/redis:/data
    command: redis-server --appendonly yes

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: reddit-rabbitmq
    ports:
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq

  opensearch:
    image: opensearchproject/opensearch:3
    container_name: reddit-opensearch
    environment:
      discovery.type: single-node
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
      DISABLE_SECURITY_PLUGIN: true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./data/opensearch:/usr/share/opensearch/data

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3
    container_name: reddit-opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      OPENSEARCH_HOSTS: '["http://reddit-opensearch:9200"]'
      DISABLE_SECURITY_PLUGIN: "true"
      OPENSEARCH_SECURITY_ENABLED: "false"
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
    depends_on:
      - opensearch

  adminer:
    image: adminer
    container_name: reddit-adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: reddit-postgres
    depends_on:
      - postgres
